<div class="h-100 d-flex flex-column justify-content-center bg-primary">
  <div class="d-flex flex-column justify-content-center align-items-center unselectable">
    <i class="material-icons bigicon height-fit-content width-fit-content unselectable text-white">contact_mail</i>
    <h3 class="font-weight-bold text-white">SCA - Sistema de Cartão de Autógrafo</h3>
    <h4 class="text-white text-align-center" [hidden]="true">Usuário Atual:<br>{{nomeUsuario}}</h4>
  </div>

  <div class="position-absolute unselectable" style="bottom: 0; right: 0">
    <div class="d-flex flex-row justify-content-end mr-2">
    </div>
    <h4 class="text-white mr-2 text-align-right"></h4>
  </div>
  <div class="position-absolute  unselectable" style="bottom: 0; left: 0">
    <h4 class="text-white ml-2 mb-n1 text-align-left"></h4>
    <h4 class="text-white ml-2 text-align-left">Versão: 1.2</h4>
  </div>
</div>
